/* * {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
} */

body {
    text-align: center;
    background-image: url("/img/backgroud1.jpg");
    background-size: cover;
}

section {
    width:  50vw;
    min-height: 90vh;
    margin: 0 auto;
    background-image: url("/img/background.jpg");
    background-size: cover;
    font-size: 2rem;
}

h1 {
    color: rgba(245, 222, 179, 0.893);
    padding: 15px;
    margin: 0 auto;
}

h2 {
    font-size:2.5rem;
    color: rgba(245, 222, 179, 0.8);
}

h3 {
    color: rgba(214, 203, 184, 0.8);
    font-weight:lighter;
    font-size: 1.5rem;
}

p {
    font-size:smaller;
    color:beige;
}

.status {
    display: flex;
    justify-content: space-around;
}

button {
    background-color:rgba(238, 210, 159, 0.813);
    padding: 5px 8px ;
    border: none;
    font-weight:bold;
}

.list {
    display: inline-block;
}

.check-box {
    padding: 10px;
    margin-right: 8px;
    vertical-align: middle;
}

input {
    background: none;
    vertical-align:middle;
    color:beige;
}

#todo-list {
    text-align: left;
    padding-left: 15%;
}

li {
    list-style: none;
}